/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.act-advance {
  
  background-position: -41px -84px;
  width: 33px;
  height: 32px;
}
.act-crown {
  
  background-position: 0px 0px;
  width: 38px;
  height: 38px;
}
.act-down {
  
  background-position: -141px -97px;
  width: 16px;
  height: 10px;
}
.act-shu-suc {
  
  background-position: -92px -41px;
  width: 36px;
  height: 35px;
}
.act-shu-top {
  
  background-position: 0px -43px;
  width: 44px;
  height: 36px;
}
.act-shu {
  
  background-position: -141px 0px;
  width: 37px;
  height: 29px;
}
.act-top {
  
  background-position: -141px -68px;
  width: 24px;
  height: 24px;
}
.act-up {
  
  background-position: -162px -97px;
  width: 16px;
  height: 10px;
}
.act-wei-suc {
  
  background-position: 0px -84px;
  width: 36px;
  height: 35px;
}
.act-wei-top {
  
  background-position: -92px 0px;
  width: 44px;
  height: 36px;
}
.act-wei {
  
  background-position: -141px -34px;
  width: 37px;
  height: 29px;
}
.act-wu-suc {
  
  background-position: -49px -43px;
  width: 36px;
  height: 35px;
}
.act-wu-top {
  
  background-position: -43px 0px;
  width: 44px;
  height: 36px;
}
.act-wu {
  
  background-position: -79px -84px;
  width: 37px;
  height: 29px;
}
